@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Neucha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hubballi", cursive;
  width: 100%;
}

.main {
  padding-top: 80px;
  height: 100vh;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  border-radius: 100px !important;
  background: #6c63ff !important;
  color: #fff !important;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-logout {
  background-color: black !important;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.post {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.post .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.post .edit {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.date {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

/*here I start*/
.links {
  text-decoration: none;
  color: #3f3d56;
  margin-left: 10px;
}

.form {
  width: 45%;
}

.post-form {
  width: 50%;
  margin: 0 auto;
}
/*Media Queries*/
@media (max-width: 768px) {
  .form {
    width: 100%;
  }

  .post-form {
    width: 100%;
  }
}
